@media only screen and (max-device-width: 480px){

    html, body{
        height: 90vh;
    }

    html{
        font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    }
    
    body{
        margin: 0;
        padding: 0;
        background-color: #0E0E10;
    
        display: flex;
        flex-direction: column;
        font-size: clamp(0.5rem, 3vmin, 1rem);
        text-align: center;
        color: white;
    }
    
    h1{
        margin: 0.2em 0;
    }
    
    hr{
        background-color: #3a3a3c;
        height: 1px;
        margin: 0;
        border: 0;
    }
    
    .data{
        margin-top: 0.6em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #gameNumber, #newGame{
        margin: 0 0.5em;
        padding: 0;
    }

    #newGame{
        background-color: rgb(129,131,132);
        color: white;
        border: none;
        padding: 0.2rem;
        font-size: 0.5rem;
        border-radius: 0.5rem;
    }

    #newGame:hover{
        background-color: rgb(52, 52, 52);
    }
    
    .grid{
        margin: 0;
        display: grid;
        justify-content: center;
        align-content: center;
        flex-grow: 1;
        grid-template-columns: repeat(5, 14vw);
        grid-template-rows: repeat(6, 14vw);
        gap: 0.6em;
        font-size: clamp(0.5rem, 5vmin, 1rem);
    }
    
    .square{
        outline: 2px solid #3a3a3c;
        height: 14vw;
        margin: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
    }
    
    .keyboard{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(20, minmax(auto, 1.5em));
        grid-auto-rows: 4.5em;
        grid-gap: .2em;
        margin: 1em 0;
    }
    
    .key{
        background-color: rgb(129,131,132);
        color: white;
        font-size: inherit;
        grid-column: span 2;
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.3rem;
        border: none;
        touch-action: manipulation;
        font-weight: bold;
    }
    
    .long{
        grid-column: span 3;
    }
}

@media only screen and (min-device-width: 481px){
    html{
        font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    }
    
    body{
        height: 100vh;
        margin: 0;
        background-color: #0E0E10;
    
        display: flex;
        flex-direction: column;
        font-size: clamp(0.5rem, 2.5vmin, 1rem);
        text-align: center;
    }
    
    h1{
        text-align: center;
        margin: 0.2em 0;
    }
    
    hr{
        background-color: #3a3a3c;
        height: 1px;
        width: 100%;
        margin: 0;
        border: 0;
    }
    
    .data{
        margin-top: 0.6em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    
    #gameNumber, #newGame{
        margin: 0 0.5em;
        padding: 0;
    }

    #newGame{
        background-color: rgb(129,131,132);
        color: white;
        font-size: 1rem;
        border: none;
        padding: 0.2rem 0.5rem;
        border-radius: 1rem;
    }

    #newGame:hover{
        background-color: rgb(52, 52, 52);
    }
    
    .grid{
        display: grid;
        justify-content: center;
        align-content: center;
        flex-grow: 1;
        grid-template-columns: repeat(5, 3.5em);
        grid-template-rows: repeat(6, 3.5em);
        gap: 0.6em;
    }
    
    .square{
        outline: 2px solid #3a3a3c;
        height: 3.5em;
        margin: 0;
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }
    
    .keyboard{
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(20, minmax(auto, 1.4em));
        grid-auto-rows: 3.8em;
        grid-gap: .25em 0.125em;
        margin: 0.5em 0;
    }
    
    .key{
        background-color: rgb(129,131,132);
        color: white;
        font-size: inherit;
        grid-column: span 2;
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.35rem;
        font-weight: bold;
    }
    
    .long{
        grid-column: span 3;
    }
    
    
    h1, p{
        color: white;
    }
}

/*
.header{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(83,141,78);
    grid-template-rows: 2fr 1fr;
}

#title, #name{
    color: white;
    margin: 0;
}

.break{
    flex-basis: 100%;
    margin: 0;
}

#gameNumber{
    color:white;
    height: 5%;
    margin: 0;
}

.dataSection{
    height: 5vh;
}

.dataSection p, .dataSection button{
    display: inline;
}

.board{
    width: 100%;
}

.grid{
    display: grid;
    height: 48vh;
    width: 40vh;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    outline: 3px solid rgb(52, 52, 52);
}

.keyboard{
    display: grid;
    height: 25vh;
    width: min(600px, 100vw);
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
}

.key{
    border-radius: 6px;
    height: 100%;
    width: 9%;
    font-size: 16px;
    color: white;
    background-color: rgb(129,131,132);
    border: none;
    margin: 0 min(0.5vw, 4px);
}

.key:focus{
    outline: none;
}

#Enter{
    width: 11%;
}

#Backspace{
    width: 15%;
}

topRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

middleRow{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

bottomRow{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
*/