html{
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    background-color: #0E0E10;

    display: flex;
    flex-direction: column;
    font-size: clamp(0.5rem, 2.5vmin, 1rem);
}

h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
}

.grid{
    display: grid;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: 0.55em;
}

.square{
    outline: 2px solid #3a3a3c;
    height: 3.5em;
    margin: 0;
}

.keyboard{
    border: 1px solid red;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(20, minmax(auto, 1.25em));
    grid-auto-rows: 3.5em;
    grid-gap: .2em;
    margin: 1em 0;
}

.key{
    background-color: rgb(129,131,132);
    color: white;
    font-size: inherit;
    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem
}

.long{
    grid-column: span 3;
}


h1, p{
    color: white;
}

/*
.header{
    display: grid;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: rgb(83,141,78);
    grid-template-rows: 2fr 1fr;
}

#title, #name{
    color: white;
    margin: 0;
}

.break{
    flex-basis: 100%;
    margin: 0;
}

#gameNumber{
    color:white;
    height: 5%;
    margin: 0;
}

.dataSection{
    height: 5vh;
}

.dataSection p, .dataSection button{
    display: inline;
}

.board{
    width: 100%;
}

.grid{
    display: grid;
    height: 48vh;
    width: 40vh;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid p{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    outline: 3px solid rgb(52, 52, 52);
}

.keyboard{
    display: grid;
    height: 25vh;
    width: min(600px, 100vw);
    margin: auto;
    grid-template-rows: 1fr 1fr 1fr;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0;
}

.key{
    border-radius: 6px;
    height: 100%;
    width: 9%;
    font-size: 16px;
    color: white;
    background-color: rgb(129,131,132);
    border: none;
    margin: 0 min(0.5vw, 4px);
}

.key:focus{
    outline: none;
}

#Enter{
    width: 11%;
}

#Backspace{
    width: 15%;
}

topRow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

middleRow{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

bottomRow{
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
*/